<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@450;700&display=swap">
<style>
  .govuk-header__container {
    border-bottom-width: 1px;
    border-color: #fff6;
    margin-bottom: -1px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .govuk-header__logotype {
    text-transform: lowercase;
  }
  .govuk-header__logotype::before {
    color: #c39;
    content: ".";
  }
  .govuk-header,
  .x-govuk-masthead {
    background: linear-gradient(-90deg, #c39, #336 66%);
  }
  .x-govuk-masthead__title {
    font-size: 2.75rem;
  }
</style>
