$govuk-font-family: "Space Grotesk", system-ui;
$govuk-page-width: 800px;
$govuk-brand-colour: #cc3399;
$govuk-canvas-background-colour: #f9f9fc;
$govuk-focus-colour: #ffccee;
$govuk-link-colour: #0066cc;
$govuk-link-visited-colour: #0066cc;
$govuk-link-hover-colour: #993399;
$govuk-link-active-colour: #003399;
$govuk-text-colour: #333344;
$govuk-secondary-text-colour: #555566;
$govuk-border-colour: #ddddee;
